.nav {
	text-align: center ;
	border-bottom: solid;
	border-bottom-color: BLACK ;
}
.nav a {
	font-family: sans-serif ;
	font-size: 200% ;
	margin: 5% ;
	color: black ;
	text-decoration: none;
}
.logo {
	text-align: center;
}
h1 {
	font-size: 150% ;
 	margin: 5% ;
 	font-family: sans-serif ;
}
.options {
	text-align: center ;
	margin: 3% ; 
	text-decoration: underline; 
	font-size: 200% ;
}

.option a { 
	color: black ; 
}